<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.driverapp.android" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />



    <application
        android:name=".DriverApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.NoActionBar" >

        <meta-data android:name="com.google.android.gms.version"        android:value="@integer/google_play_services_version" />
        <meta-data android:name="com.google.android.maps.v2.API_KEY"    android:value="@string/google_maps_key" />
        <meta-data android:name="com.facebook.sdk.ApplicationId"        android:value="@string/facebook_app_id"/>


        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".events.create.CreateActivity"
            android:label="@string/title_activity_create" >
        </activity>
        <activity
            android:name=".events.create.cropping.CropActivity"
            android:label="@string/cropper_title" />
        <activity
            android:name=".events.create.LocationPickerActivity"
            android:label="@string/picker_location_title" />
        <activity
            android:name=".events.EventActivity"
            android:label="@string/event_title" >
        </activity>
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name=".start.StartActivity"
            android:label="@string/title_activity_start" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".events.comments.EventCommentsActivity"
            android:label="@string/title_activity_comments" >
        </activity>
        <activity
            android:name=".events.create.CategoryPickerActivity"
            android:label="@string/title_activity_category" >
        </activity>
        <activity
            android:name=".profile.ProfileActivity"
            android:label="@string/title_activity_profile" >
        </activity>
        <activity
            android:name=".auth.AuthActivty"
            android:label="@string/title_activity_auth_actiivty" >
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="3e8d76bfd9500e8c36c3b465f173465a7a7f0fb5" />
    </application>

</manifest>
